#shop-container{
    position: absolute;
    top: 180px;
    z-index: -1;
    display: flex;
    margin-left: 5rem;
    padding-bottom: 10px;
}
.products-container{
    width: 70%;
    border-right: 1px solid lightgray;
}
.cart-container{
    width: 26%;
    position: fixed;
    right: 10px;
    top: 220px;
    background-color: #3c393ca1;
    color: whitesmoke;
    box-shadow: 10px 10px 20px gray;
}

