*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cartBtn{
    width: 90%;
    background-color:#F0C14B;
    padding: 5px 20px;
    margin-top:10px;
    border:1px solid lightgray;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 5px;
    text-align: center;
}
.cartBtn:hover{
    background-color: thistle;
    border-radius: 10px;
}